.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}
.fighter-preview___right .fighter-preview___img {
	transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
	height: 250px;
    width: auto;
}

.fighter-preview___name {
	color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 26px;
    font-family: 'Arial Black';
    font-weight: 700;
}
.fighter-preview___health {
	background: #fff;
	padding: 5px;
	border-radius: 3px;
	margin-top: 5px;
}
